<!DOCTYPE html>
<html>

<head>
  <title>FeedMe</title>
  <link rel="stylesheet" href="../default.css">
</head>

<body>
  <div class="post">
    <div class="post-header">
      <div class="post-info">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </div>
    </div>
    <div class="post-content">
      {% for image in images %}
        <img src="{{ image }}" alt="Post Image">
      {% endfor %}
    </div>
    <div class="post-actions">
      <button class="like-button">Like</button>
      <button class="comment-button">Comment</button>
      <button class="share-button">Share</button>
    </div>
  </div>
</body>

</html>